.header {
  background-color: #4bc5af;
  color: white;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  gap: 16px;
}

.nav {
  flex-grow: 1;
}

.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 16px;
}

.navigation li {
  flex-shrink: 0;
}

.titleLink {
  font-size: 20px;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.titleLink:hover,
.titleLink:focus {
  text-decoration: underline;
}

.navigation li a,
.localeButton {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  padding: 4px 10px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation li a:hover,
.navigation li a:focus,
.localeButton:hover,
.localeButton:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.localeButton {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .headerContent {
    justify-content: space-between;
  }

  .nav {
    flex-grow: 0;
  }

  .titleLink {
    font-size: 24px;
  }

  .navigation li a,
  .localeButton {
    font-size: 18px;
    padding: 8px 16px;
  }
}
