.container {
  max-width: 600px;
  margin: 4rem auto;
  padding: 1rem;
  text-align: center;
  font-family: sans-serif;
  color: #333;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #1f1f1f;
}

.message {
  font-size: 1.125rem;
  margin-bottom: 2rem;
  color: #666;
}

.button {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0.5rem 1.2rem;
  background-color: #4bc5af;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  width: 150px;
  margin: 0 auto;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #3aa996;
}
