.item {
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f9f9f9;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item:hover {
  background-color: #eaeaea;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
}

.title {
  margin: 0 0 8px 0;
  font-size: 18px;
  font-weight: 500;
  color: #555;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btnMobileWrap {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.button {
  background-color: #4bc5af;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 100px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
}

.button:hover,
.button:focus {
  background-color: #3a9a8e;
  outline: none;
}

@media (min-width: 1200px) {
  .item {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .title {
    margin: 0;
    flex-grow: 1;
  }

  .btnMobileWrap {
    display: flex;
    justify-content: flex-end;
    width: auto;
    margin-left: 16px;
  }

  .button {
    margin-left: 0;
    white-space: nowrap;
  }
}
