.item {
  padding: 1rem;
  border: 1px solid #4bc5af;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7fefd;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
}

.item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.2s ease;
}

.title {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #0b4c45;
  flex-grow: 1;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  background-color: #4bc5af;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 1rem;

  min-width: 100px;
  height: 40px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button:hover,
.button:focus {
  background-color: #3a9a8e;
  outline: none;
}
